.home-wrapper {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.h-sec-1 {
  background-image: url(../assets/bg-sec-1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  isolation: isolate;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  scroll-snap-align: start;
}
.h-sec-1::after {
  content: "";
  position: absolute;
  opacity: 0.6;
  inset: 0;
  z-index: -1;
  background-color: rgb(21, 23, 37);
}

.h-sec-1-content {
  max-width: 500px;
  opacity: 0;
  transform: translateY(45%);
  padding: 3em 1em;
  position: relative;
}

.heading[main-header="true"] {
  color: white;
  font-size: var(--fs-main-heading);
}

.m-heading {
  color: rgb(229, 229, 229);
}

/* Section-2 */

.h-sec-2 {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding-block: 2em;
  isolation: isolate;
  background-image: url(../assets/sec-2-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
}
.h-sec-2::after {
  content: "";
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  inset: 0;
}
.sec-2-text-box {
  display: flex;
  flex-direction: column;
}
.sec-2-text {
  color: black;
}
.sign-name {
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
}
.sign-post {
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
}

/* Section - 3 */

.h-sec-3 {
  min-height: 100vh;
  display: flex;
  align-items: center;

  position: relative;
  isolation: isolate;
  background-image: url(../assets/sec-3-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
}
.h-sec-3::after {
  content: "";
  position: absolute;
  opacity: 0.6;
  inset: 0;
  z-index: -1;
  background-color: rgb(0, 1, 10);
}
.center {
  text-align: center;
}

/* Section-1 */

.intersecting.h-sec-1::after {
  opacity: 0.8;
  transition: opacity 500ms ease-in-out;
}

.intersecting .h-sec-1-content {
  will-change: opacity, transform;
  opacity: 1;
  transform: translateY(10%);
  transition: opacity 700ms ease-in-out 500ms, transform 700ms ease-in-out 600ms;
}
.intersecting .h-sec-1-content::after {
  width: 100%;
  transition: width 600ms ease-in-out 2100ms;
}
.intersecting .h-sec-1-content > * + * {
  margin-top: 1rem;
  transition: margin 350ms ease-in-out 1300ms;
}

.intersecting .m-heading {
  margin-bottom: 2rem;
  transition: margin 350ms ease-in-out 1300ms;
}

.intersecting .sec-1-text {
  margin-top: 1rem;
  transition: margin 350ms ease-in-out 1700ms;
}

/* Section-2 */
.intersecting.h-sec-2::after {
  opacity: 0.8;
  transition: opacity 500ms ease-in-out;
}

.h-sec-2-content {
  opacity: 0;
  transform: translateY(45%);
}

.intersecting .h-sec-2-content {
  will-change: opacity, transform;
  opacity: 1;
  transform: translateY(10%);
  transition: opacity 700ms ease-in-out 500ms, transform 700ms ease-in-out 600ms;
}
.intersecting .h-sec-2-content > * + * {
  margin-top: 1em;
  transition: margin 250ms ease-in-out 1300ms;
}

/* Section-3 */
.intersecting.h-sec-3::after {
  opacity: 0.8;
  transition: opacity 500ms ease-in-out;
}

.h-sec-3-content {
  opacity: 0;
  transform: translateY(45%);
}
.intersecting .h-sec-3-content {
  will-change: opacity, transform;
  opacity: 1;
  transform: translateY(10%);
  transition: opacity 700ms ease-in-out 500ms, transform 700ms ease-in-out 600ms;
}
.intersecting .h-sec-3-content > * + * {
  margin-top: 2em;
  transition: margin 250ms ease-in-out 1300ms;
}

/* Media Queries */

@media (min-width: 499px) {
  .h-sec-3 {
    padding: 1em 0em;
  }
  .text {
    max-width: 50ch;
  }
  .card-text {
    font-size: var(--fs-300);
  }
}
@media (min-width: 799px) {
  .h-sec-3-cards {
    column-gap: 1em;
    row-gap: 2em;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .btn-div {
    margin-top: 2em !important;
  }
  .card-text {
    font-size: var(--fs-400);
  }
}
@media (min-width: 1099px) {
  .h-sec-3-cards {
    column-gap: 1em;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
  .sec-2-text-box {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
  }
  .intersecting .space-1 {
    margin-top: 0em;
    transition: margin 250ms ease-in 950ms;
  }
}
