.contact {
  min-height: 100vh;
  background-color: var(--clr-primary);
  position: relative;
  isolation: isolate;
  padding: 1em 0em;
}
.contact::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  inset: 0;
  z-index: -1;
  background-color: rgb(1, 1, 1);
}
.contact-columns {
  display: grid;
  gap: 1em;
}
.contact-info {
  padding: 1em 0em;
}
.info {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 2em;
  padding: 1em;
}
.contact-form {
  padding: 1em 0em;
}
.text-area {
  resize: none;
  width: 100%;
  max-width: 450px;
}
.social-icon {
  display: grid;
  grid-template-columns: 100px 30px;
  align-items: center;
  padding: 1em;
}
.s-icon {
  width: 30px;
}
.gap {
  gap: 0.5em;
}
.g-map {
  margin-top: 1em;
}
.g-map {
  width: 100% !important;
  height: 300px !important;
  border-radius: 12px;
}
@media (min-width: 499px) {
  .contact-columns {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
@media (min-width: 799px) {
  .contact .heading {
    margin: 1em 0em;
  }
}
.contact > * {
  transform: translateY(8%);
  opacity: 0.1;
}
.intersecting > * {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 350ms ease-in-out, transform 300ms ease-in-out 250ms;
}
